<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @job_board.headline %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job_board.content %>
</p>

<%= link_to 'Edit', edit_job_board_path(@job_board) %> |
<%= link_to 'Back', job_boards_path %>
